/* setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* base styles */
* { margin: 0; padding: 0;}

html { font-size: 125%;}

ul { list-style: none;}

a { text-decoration: none; /* darkmode color: #8ab4f8 */}

a:hover,
a:focus {
  text-decoration: underline;
}

.volume,
.book,
.myLibrary {
  width: 100%;
  min-height: 100vh;
  /* darkmode
  background-color: #202124;
  color: #e8eaed; */
}

.wrapper {
  max-width: 95%;
  margin: 0 auto;
}

/* app component */
.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* landing component */
.landing {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-top: 30vh;
}

.landing img {
  width: 80%;
}

.landing > p {
  padding-top: 0.5rem;
}

.landing p {
  margin: 0.5rem; 
}

.landing a {
  color: rgb(34, 48, 241);
}

/* form component */
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input {
  width: 90%;
  padding-left: 0.5rem;
}

form a {
  width: 10%;
  background-color: rgb(34, 48, 241);
  border-radius: 2px;
  margin: 5px;
}

form button {
  border: none;
  background-color: rgb(34, 48, 241);
  cursor: pointer
}

form img {
  height: 0.8rem;
  filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(313deg) brightness(105%) contrast(103%);
}

/* header component */
.header {
  display: flex;
  gap: 20px;
  padding: 1.5rem 0;
  border-bottom: 1px solid #757b80;
}

.header a {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header .logo img{
  width: 130px;
}

.header .libraryImgContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header .libraryImgContainer img {
  height: 1.5rem;
}

/* darkmode
.header a > img {
  filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%);
} */

.header form {
  width: 1000px;
  /* background-color: #303134; darkmode */ 
  border: 1px solid #757b80;
  border-radius: 15px;
  padding: 0 0.5rem;
}

.header form input {
  border: none;
  width: 100%;
  /* darkmode
  background-color: transparent;
  color: #e8eaed; */
  padding-left: 0;
}

.header form a {
  width: 30px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
  border-left: 1px solid #757b80;
}

.header form button {
  background-color: transparent;
  margin: 0 auto;
}

.header form img {
  /* darkmode
  filter: invert(67%) sepia(31%) saturate(795%) hue-rotate(186deg) brightness(100%) contrast(95%); */
  filter: invert(18%) sepia(99%) saturate(7042%) hue-rotate(243deg) brightness(94%) contrast(102%);
}

/* volume api call component */
.volume ul {
  padding: 1.5rem 0;
  margin-left: 150px;
  margin-right: 92px;
  max-width: 1000px;
}

.volume li {
  display: flex;
  margin-bottom: 2rem;
}

.volume .imgeContainer img {
  border: 1px solid #757b80;
}

.noImage {
  width: 125px;
  min-height: 195px;
  border: 1px solid #757b80;
  display: flex;
  align-items: center;
  text-align: center;
}

.volume li .textContainer {
  padding-left: 1rem;
}

.volume h2 {
  font-weight: 400;
  display: -webkit-box; /* limit to only show 2 lines of text */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.volume li .textContainer > p:last-child {
  display: -webkit-box; /* limit to only show 2 lines of text */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
}

  .volume li .info {
    display: flex;
    margin: 1rem 0;
  }

/* book api call component */
.book .header {
  justify-content: space-between;
}

.book .header .logo,
.book .header .libraryImgContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.book .libraryImgContainer a {
  margin-left: auto;
}

.book .overview {
  width: 1000px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.book .overview > p {
  line-height: 2rem;
}

.book .overview img, 
.book .overview .noImage {
  float: right;
  margin-bottom: 1.5rem;
  border: 1px solid #757b80;
}

.book .overview .textContainer {
  clear: right;
  border: 1px solid #757b80;
  border-radius: 15px;
  padding: 1rem;
}

.book .overview .textContainer p {
  padding-bottom: 0.5rem;
  line-height: 1.5rem;
}

.book .overview button {
  background-color: transparent;
  border: 1px solid #757b80;
  border-radius: 15px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

.book .overview button:hover,
.book .overview button:focus {
  text-decoration: underline;
}

.addBlue {
  color:rgb(34, 48, 241);
  font-weight: 700;
}

/* my library */
.myLibrary ul {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid black;
  margin: 1.5rem 0;
  gap: 30px;
}

.bookCard {
  border: 1px dotted red;
  width: 200px;
  display: inline-block;
}

.bookCard img {
  width: 100%;
}

.bookCard p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}